cmake_install.cmake
CMakeFiles
Makefile
*.vcxproj*
*.dir
*.sln
/dyncall/Debug/
/dyncallback/Debug/
/dynload/Debug/
/dyncall/Release/
/dyncallback/Release/
/dynload/Release/
/tmp/
/src/
/dyncall/libdyncall_s.a
/dyncallback/libdyncallback_s.a
/dynload/libdynload_s.a
